<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تغییر رمز</title>
    <style>
        p{
            border: 1px solid #cccccc;
            border-radius: 10px;
            box-shadow: 1px 1px 8px #1c7430;
            text-align: center;
            padding: 5px;
            margin-top: 30px;
        }
        p a{
            text-decoration: none;
            color: #bd0000;
        }
    </style>
</head>
<body>
<p>رمز شما تغییر یافت.برای ورود <a href="{% url 'login' %}">اینجا </a>کلیک کنید</p>
</body>
</html>