<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تغییر رمز</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        form ul{
            display: none;
        }

        label {
            min-width: 202px;
        }
        .row{
            margin-top: 20px;
        }
        h6{
            text-align: center;
        }

        button {
            margin-left: 156px;
        }
    </style>
</head>
<body>
    {% if validlink %}
        <div class="row">
            <div class="col-3"></div>
            <div class="card" >
                <h6 class="card-header">تغییر رمز عبور</h6>
                <form method="post" class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">تغییر رمز</button>
                </form>
                {% else %}
                <p>
                    لینک معتبر نیست.لطفایک درخواست جدید صادر کنید.
                </p>
            </div>
        </div>

  {% endif %}
</body>
</html>
